@model IEnumerable<IEnumerable<FoxAndHounds.Models.Shift>>

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>


    <h4>Schedule</h4>
    <hr />
    <table class="table">
        <tr>
            <th>
                <p>Employee</p>
            </th>
            <th>
                <p>Time</p>
            </th>
            <th>
                <p>Job</p>
            </th>
            <th></th>
        </tr>
        @for (int i = 0; i < 7; i++)
        {
            foreach (var item in Model.ElementAt(i))
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Employee.FullName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StartTime)
                    </td>
                    <td>
                        @Html.ActionLink("Details", "ShiftDetails", new { id = item.Id }) |
                        @if (User.IsInRole("Admin"))
                    {
                            @Html.ActionLink("Edit", "ShiftEdit", new { id = item.Id })
                        }

                    </td>
                </tr>
            }
        }

<p>
    @Html.ActionLink("Back to List", "Index")
</p>
