@model FoxAndHounds.Models.Availability


@{
    ViewBag.Title = "Create";

}

<h2>Create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Availability</h4>
        <hr />
        
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        
        <h5>Monday</h5>
        <div class="form-group">
            @Html.LabelFor(model => model.Monday.AbleToWork, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.Monday.AbleToWork)
                    @Html.ValidationMessageFor(model => model.Monday.AbleToWork, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Monday.StartTime, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Monday.StartTime, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Monday.StartTime, "", new { @class = "text-danger" })
            </div>
        </div>
        <h5>Tuesday</h5>
        <div class="form-group">
            @Html.LabelFor(model => model.Tuesday.AbleToWork, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.Tuesday.AbleToWork)
                    @Html.ValidationMessageFor(model => model.Tuesday.AbleToWork, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Tuesday.StartTime, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Tuesday.StartTime, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Tuesday.StartTime, "", new { @class = "text-danger" })
            </div>
        </div>
        <h5>Wednesday</h5>
        <div class="form-group">
            @Html.LabelFor(model => model.Wednesday.AbleToWork, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.Wednesday.AbleToWork)
                    @Html.ValidationMessageFor(model => model.Wednesday.AbleToWork, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Wednesday.StartTime, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Wednesday.StartTime, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Wednesday.StartTime, "", new { @class = "text-danger" })
            </div>
        </div>
        <h5>Thursday</h5>
        <div class="form-group">
            @Html.LabelFor(model => model.Thursday.AbleToWork, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.Thursday.AbleToWork)
                    @Html.ValidationMessageFor(model => model.Thursday.AbleToWork, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Thursday.StartTime, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Thursday.StartTime, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Thursday.StartTime, "", new { @class = "text-danger" })
            </div>
        </div>
        <h5>Firday</h5>
        <div class="form-group">
            @Html.LabelFor(model => model.Friday.AbleToWork, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.Friday.AbleToWork)
                    @Html.ValidationMessageFor(model => model.Friday.AbleToWork, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Friday.StartTime, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Friday.StartTime, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Friday.StartTime, "", new { @class = "text-danger" })
            </div>
        </div>
        <h5>Saturday</h5>
        <div class="form-group">
            @Html.LabelFor(model => model.Saturday.AbleToWork, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.Saturday.AbleToWork)
                    @Html.ValidationMessageFor(model => model.Saturday.AbleToWork, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Saturday.StartTime, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Saturday.StartTime, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Saturday.StartTime, "", new { @class = "text-danger" })
            </div>
        </div>
        <h5>Sunday</h5>
        <div class="form-group">
            @Html.LabelFor(model => model.Sunday.AbleToWork, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.Sunday.AbleToWork)
                    @Html.ValidationMessageFor(model => model.Sunday.AbleToWork, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Sunday.StartTime, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Sunday.StartTime, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Sunday.StartTime, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Sunday.EndTime, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Sunday.EndTime, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Sunday.EndTime, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
